/* .form-control:focus {
  box-shadow: 0 0 0 0 !important;
  border-color: transparent !important;
  border: none !important;
} */

.no-box-shadow-focus:focus {
  box-shadow: 0 0 0 0 !important;
}

.form-control-override-border:focus {
  border: 1px solid #ced4da !important;
}

/*nav bar beginning*/
#nav-bar {
  background-color: #5ba2ff;
}

#home-btn-container {
  flex-grow: 1;
}

#search-bar-container {
  flex-grow: 1;
}

#search-bar {
  flex-grow: 2;
  display: flex;
  width: unset;
}

#mag-glass {
    height: 38px;
    width: 56px;
}

#nav-btns-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

/*nav bar end*/

/*add form begin*/
#add-form {
  margin: auto;
}

#error-p {
  color: rgba(255, 0, 0, 0.7);
  font-weight: bold;
}

#ingredient-fields {
  display: flex;
}

.remove-col-pad-left {
  padding-left: 0px;
}

.ingredient-preview {
  display: flex;
  margin-top: 0.5%;
}

.ingredient-preview-text {
  list-style-type: none;
  font-weight: bold;
  color: #68BDFF;
}

.ingredient-preview-delete-btn {
    padding: 0px;
    height: 26px;
    width: 18px;
    background-color: white;
    border-color: rgba(0, 0, 0, 0);
    color: black;
}

.ingredient-preview-delete-btn:hover {
  background-color: rgba(211, 211, 211, 0.8);
}

#ingredient-guideline {
  color: blue;
}

#pick-pic-div {
  display: flex;
}

#pic-select-btn {
  width: 90.78px;
}

#pick-pic-preview {
 max-width: 332px;
 max-height: 175px;
}
/*add form end*/

/* .delete-entry-container {
  display: flex;
} */

.delete-confirm-container {
  visibility: hidden;
  display: flex;
}

#container-main-single {
  margin: auto;
  height: 100%;
}

#container-main-single img, .card img {
  margin: auto;
  display: block;
}

#container-main-single h1, p {
  text-align: center;
}

.tickmark {
  display: inline;
}

.checkbox {
  display: inline;
}

.ingredient-list {
  display: inline;
  list-style: none;
  color: rgba(0, 0, 0, 0.65);
  font-weight: bold;
}

#container-main-single ul, h2 {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  padding: 0px;
}

#instructions {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}

.entry-pic {
  width: 155px;
  height: 100px;
}

#portion-slider {
  display: block;
  margin: 0 auto;
}

.no-display {
  display: none;
}

#ingredient-list-div {
  text-align: center;
}

#root {
  height: 100%;
}

body {
  height: 100%;
}

html {
  height: 100%;
}

#tickmark-container {
  text-align: center;
}