/*nav bar beginning*/
#home-btn-container {
  flex-grow: 1;
}

#search-bar-container {
  flex-grow: 1;
}

#search-bar {
  flex-grow: 2;
  display: flex;
  width: unset;
}

#mag-glass {
    height: 38px;
    width: 56px;
}

#nav-btns-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

#add-btn {
  margin-right: 2%;
}
/*nav bar end*/

/*add form begin*/
#add-form {
  max-width: 85%;
  margin: auto;
  margin-top: 1%;
}

.add-menu-input-field {
  margin-bottom: 1%;
}

#error-p {
  color: rgba(255, 0, 0, 0.7);
  font-weight: bold;
}

#ingredient-fields {
  display: flex;
}

.remove-col-pad-left {
  padding-left: 0px;
}

.ingredient-preview {
  display: flex;
  margin-top: 0.5%;
}

.ingredient-preview-text {
  list-style-type: none;
  font-weight: bold;
  color: #68BDFF;
}

.ingredient-preview-delete-btn {
    padding: 0px;
    height: 26px;
    width: 18px;
    margin-left: 0.5%;
    background-color: white;
    border-color: rgba(0, 0, 0, 0);
    color: black;
}

.ingredient-preview-delete-btn:hover {
  padding: 0px;
    height: 26px;
    width: 18px;
    margin-left: 0.5%;
    background-color: rgba(211, 211, 211, 0.8);
    color: black;
}

#ingredient-guideline {
  color: blue;
}

#pick-pic-div {
  display: flex;
}

.pick-pic-text {
  padding-top: 3%;
}

#dropdown-div {
  margin-left: 0.5%;
  width: 90.78px;
}

#pic-select-btn {
  width: 90.78px;
}

#pick-pic-preview {
 max-width: 332px;
 max-height: 175px;
 margin-left: 2%;
}

#add-menu-cancel-btn {
  margin-left: 1%;
}
/*add form end*/

.col-4 {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
}

.delete-entry-container {
  display: flex;
}

.delete-confirm-container {
  visibility: hidden;
  display: flex;
  width: 94%;
}

#delete-confirm-text {
  margin-left: 4%;
  margin-bottom: 0%;
  margin-top: 1%;
}

#confirm-btn-yes {
  margin-left: 3%;
}

#confirm-btn-no {
  margin-left: 1.5%;
}

#container-main-single {
  max-width: 70%;
  border: 1px solid black;
  margin: auto;
  margin-top: 1%;
}

#container-main-single img, .card img {
  margin: auto;
  display: block;
}

#container-main-single h1, p {
  text-align: center;
}

.tickmark {
  display: inline;
}

#t0-5 {
  margin-left: 46.2%;
}

#t1 {
  margin-left: 1.1%;
}

#t1-5 {
  margin-left: 1.2%;
}

#t2 {
  margin-left: 1.15%;
}

.checkbox {
  display: inline;
  margin-left: 45.7%;
}

.ingredient-list {
  display: inline;
  list-style: none;
  color: rgba(0, 0, 0, 0.65);
  font-weight: bold;
}

#container-main-single ul, h2 {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  padding: 0px;
}

#cook-container-raw-text, #cook-container-dynamic-info {
  display: inline-block;
  width: 49%;
}

#instructions {
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 1%;
  border-radius: 12px;
}

.entry-pic {
  width: 155px;
  height: 100px;
}

#portion-slider {
  margin-left: 46.5%;
}

.no-display {
  display: none;
}