html
  height: 100%
  
body
  height: 100%

button
  &:focus
    box-shadow: 0 0 0 0 !important

input
  &:focus
    box-shadow: 0 0 0 0 !important
    border: 1px solid #ced4da !important

#navbar
  display: flex
  justify-content: space-between
  background-color: #ccc1ff

#search-icon
  height: 38px

#root
  height: 100%
  overflow: scroll

  #home-placeholder-pic
    display: block
    text-align: center

  #home-placeholder-text
    text-align: center
    line-height: 5rem

  #cooktime-input
    display: inline
    border-radius: .25rem 0rem 0rem .25rem

  #add-ingredient-btn
    border-radius: 0rem .25rem .25rem 0rem

  #placeholder-pic
    width: 13rem
    height: 8rem

  #error-text
    font-size: 1.2rem

  #devdoor-container
    position: absolute
    top: 24rem
    left: 2rem

  #img-header-single
    height: 400px
    overflow: hidden

  #error-toast
    background-color: white
    border: 1px solid #dfdfdf
    position: fixed
    top: 1rem
    opacity: 0
    transition: opacity 0.4s

  .dynamic-body
    height: 100%

  .no-border-radius
    border-radius: 0rem !important

  .light-gray-font
    color: #6c757d91

  .invisible
    visibility: hidden

  input:checked + label
    color: #cacaca

  .bg-selected 
    background-color: #5a6268 !important
    border-color: #5a6268 !important

  .delete-ingredient-btn
    background-color: transparent !important
    border: none !important
    &:focus
      box-shadow: 0 0 0 0 !important

  .center-align
    align-items: center

  .no-border
    border: 0px !important

  .error-toast
    position: relative
    top: 25px
    background-color: transparent
    opacity: 0

  .show 
    opacity: 1

  .no-text-decoration
    &:hover
      text-decoration: none 

  .container
    max-width: 80vw

  .home-recipe-thumbnail
    height: 21rem

  .modal
    opacity: 0
    top: -100vh
    background-color: rgba(0, 0, 0, 0.38)
    transition: opacity 0.4s, top 0s 0.4s
  
  .drag-into-screen
    top: 0px

  .modal-dialog
    transform: transition !important
    transition: none !important

  .modal-content
    opacity: 0
    transition: opacity 0.4s

  .fade-opacity
    opacity: 1 !important
    transition: opacity 0.4s